.blue-bg {
    background:#5B6A85;
    padding: 8px 0;
}

.icon-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFF;
    align-items: center;
    justify-items: center;
    padding: 1em;
}

.block-icons {
    width: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.icon-block h5 {
    color: #FFF;
}