.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.article {
    margin: 4em 0;
}

.primary-button {
    background: #8DA978;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
}

img {
    max-width: 100%;
}